body, html {
  margin: 0;
  padding: 0;
}
@media (min-width: 599px) {
  body, html {
    margin: 0;
    padding: 0;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.hder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  width: 100%;
  height: auto;
  padding: 0;
}
.hder__logo {
  width: 100%;
  height: 5rem;
  text-align: center;
  font-family: Shrikhand;
}
.hder__logo img {
  margin-top: 20px;
  width: 230px;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.nav__geo {
  background-color: #eaeaea;
  -webkit-box-shadow: inset -1px 15px 8px -13px rgba(168, 141, 168, 0.34);
  -moz-box-shadow: inset -1px 15px 8px -13px rgba(168, 141, 168, 0.34);
  box-shadow: inset -1px 15px 8px -13px rgba(168, 141, 168, 0.34);
  width: 100%;
  height: 4.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
.nav__geo--i {
  margin-right: 15px;
}
.nav__tit {
  background-color: #f6f6f6;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__tit--reserv {
  width: 80%;
  height: auto;
  text-align: center;
  font-size: 30px;
}
.nav__tit--reserv a {
  text-decoration: none;
  color: black;
}
.nav__tit--decouv {
  width: 90%;
  height: auto;
  text-align: center;
  margin-top: 0px;
  font-size: 23px;
}
.nav__tit--btn {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  padding-bottom: 60px;
  padding-top: 20px;
  transition: transform 450ms, 300ms 150ms;
}
.nav__tit--btn-action {
  background: linear-gradient(to top, #9356dc, #e690c9 100%);
  text-decoration: none;
  height: 20px;
  padding: 18px 60px;
  border-radius: 25px;
  text-shadow: 0px 2px black;
  box-shadow: 0px 0px 10px #130f0f5b;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  float: left;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.nav__tit--btn-action:hover {
  background-color: white;
  box-shadow: 0px 0px 15px #130f0f5b;
  background: linear-gradient(to top, #9356dc, #e690c9 150%);
}
.nav__tit--btn-action:active {
  transform: translate(0, 5px);
  -webkit-transform: translate(0, 5px);
  border-bottom: 1px solid;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 1;
}
.loader__itemContainer {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.loader__item--1 {
  background-color: #f6f6f6;
}
.loader__item--2 {
  background-color: #eaeaea;
  animation-delay: 0.25s;
}
.loader__item--3 {
  background-color: #9356dc;
  animation-delay: 0.5s;
}

.fonc {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.fonc_tit {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 25px;
}
.fonc_op {
  padding-top: 20px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 350px;
}
.fonc_op--choix, .fonc_op--comp, .fonc_op--degus {
  background-color: #f6f6f6;
  width: 85%;
  display: flex;
  text-decoration: none;
  align-items: center;
  height: 25px;
  padding: 30px 0px;
  border-radius: 30px;
  box-shadow: 0px 0px 15px #130f0f5b;
  margin-top: 40px;
  transition: transform 450ms, 300ms 150ms;
}
.fonc_op--choix-ix, .fonc_op--choix-ip, .fonc_op--choix-is, .fonc_op--comp-ix, .fonc_op--comp-ip, .fonc_op--comp-is, .fonc_op--degus-ix, .fonc_op--degus-ip, .fonc_op--degus-is {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background-color: #9356dc;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: -15px;
}
.fonc_op--choix-iix, .fonc_op--choix-iip, .fonc_op--choix-iis, .fonc_op--comp-iix, .fonc_op--comp-iip, .fonc_op--comp-iis, .fonc_op--degus-iix, .fonc_op--degus-iip, .fonc_op--degus-iis {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 30px;
  padding-right: 15px;
}
.fonc_op--choix-titx, .fonc_op--choix-titp, .fonc_op--choix-tits, .fonc_op--comp-titx, .fonc_op--comp-titp, .fonc_op--comp-tits, .fonc_op--degus-titx, .fonc_op--degus-titp, .fonc_op--degus-tits {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 21px;
}

.resto {
  /*Parametrage section restorant*/
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  object-fit: cover;
}
.resto_tit {
  margin-top: 60px;
  margin-left: 20px;
  font-size: 25px;
}
.resto_badg1, .resto_badg2 {
  width: 90px;
  height: 25px;
  text-align: center;
  padding-top: 6px;
  background-color: #99e2d0;
  position: relative;
  left: 300px;
  top: 50px;
  color: #008766;
  border-radius: 2px;
}
.resto_badg2 {
  top: 340px;
}
.resto_img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 80px;
  margin-top: -40px;
}
.resto_img--1 {
  width: 90%;
  height: 300px;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 15px #130f0f5b;
  background-color: #fff;
}
.resto_img--1-i {
  width: 100%;
  height: 200px;
  border-radius: 25px 25px 0px 0px;
}
.resto_img--1-i img {
  width: 100%;
  height: 200px;
  border-radius: 25px 25px 0px 0px;
}
.resto_img--1-ii {
  display: flex;
  justify-content: space-between;
  width: 99%;
  height: 99px;
  border-radius: 0px 0px 25px 25px;
}
.resto_img--1-iii {
  margin-left: 15px;
  line-height: 100%;
}
.resto_img--1-iiii {
  margin-top: 20px;
  margin-right: 20px;
  line-height: 100%;
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.resto_img--1-iiii_v {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: black;
}
.resto_img--1-iiii_w {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
  content: "";
}
.resto_img--1-iiii_w:hover {
  opacity: 1;
}

.imgarp {
  width: 100%;
  height: auto;
}
.imgarp img {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 300px;
  z-index: 1;
  object-fit: cover;
}

.mnu {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  margin-top: 250px;
  z-index: 2;
}
.mnu_tit {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: auto;
  margin: 25px 20px;
}
.mnu_tit--i {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  font-family: "Shrikhand", "cursive";
}
.mnu_tit--ii {
  margin-top: 5px;
}
.mnu_ent, .mnu_plat, .mnu_dess {
  width: 90%;
  height: auto;
  margin: 25px 20px;
}
.mnu_ent--tit, .mnu_plat--tit, .mnu_dess--tit {
  display: inline;
}
.mnu_ent--tit::after, .mnu_plat--tit::after, .mnu_dess--tit::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin-top: 5px;
  background: #99e2d0;
}
.mnu_ent--lst, .mnu_ent_plat, .mnu_plat--lst, .mnu_plat_plat, .mnu_dess--lst, .mnu_dess_plat {
  width: 100%;
  height: auto;
  margin-top: 15px;
}
.mnu_ent--lst-1, .mnu_ent_plat-1, .mnu_plat--lst-1, .mnu_plat_plat-1, .mnu_dess--lst-1, .mnu_dess_plat-1 {
  box-shadow: 0px 0px 5px #130f0f5b;
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
  max-width: 100%;
  height: 75px;
  display: flex;
  margin-top: 20px;
  overflow: hidden;
  cursor: pointer;
  animation: anim 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
}
.mnu_ent--lst-1i, .mnu_ent_plat-1i, .mnu_plat--lst-1i, .mnu_plat_plat-1i, .mnu_dess--lst-1i, .mnu_dess_plat-1i {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
  line-height: 100%;
  margin-left: 10px;
}
.mnu_ent--lst-1i_1, .mnu_ent_plat-1i_1, .mnu_plat--lst-1i_1, .mnu_plat_plat-1i_1, .mnu_dess--lst-1i_1, .mnu_dess_plat-1i_1 {
  margin: 0.8rem 1rem 1rem 0rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mnu_ent--lst-1i_2, .mnu_ent_plat-1i_2, .mnu_plat--lst-1i_2, .mnu_plat_plat-1i_2, .mnu_dess--lst-1i_2, .mnu_dess_plat-1i_2 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
}
.mnu_ent--lst-1ii, .mnu_ent_plat-1ii, .mnu_plat--lst-1ii, .mnu_plat_plat-1ii, .mnu_dess--lst-1ii, .mnu_dess_plat-1ii {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 0.8rem;
}
.mnu_ent--lst-1iii, .mnu_ent_plat-1iii, .mnu_plat--lst-1iii, .mnu_plat_plat-1iii, .mnu_dess--lst-1iii, .mnu_dess_plat-1iii {
  background-color: #99e2d0;
  margin: -1em -5.5rem -1rem 1rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.mnu_ent--lst-1iii_v, .mnu_ent_plat-1iii_v, .mnu_plat--lst-1iii_v, .mnu_plat_plat-1iii_v, .mnu_dess--lst-1iii_v, .mnu_dess_plat-1iii_v {
  height: 2rem;
  width: 2rem;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(360deg);
  transition-duration: 0.5s;
}
.mnu_ent--lst-1iii_v_1, .mnu_ent_plat-1iii_v_1, .mnu_plat--lst-1iii_v_1, .mnu_plat_plat-1iii_v_1, .mnu_dess--lst-1iii_v_1, .mnu_dess_plat-1iii_v_1 {
  color: #99e2d0;
}
.mnu_ent--lst-1iii:hover .mnu_ent--lst-1iii_v, .mnu_ent--lst-1iii:hover .mnu_ent_plat-1iii_v, .mnu_ent--lst-1iii:hover .mnu_plat--lst-1iii_v, .mnu_ent--lst-1iii:hover .mnu_plat_plat-1iii_v, .mnu_ent--lst-1iii:hover .mnu_dess--lst-1iii_v, .mnu_ent--lst-1iii:hover .mnu_dess_plat-1iii_v, .mnu_ent_plat-1iii:hover .mnu_ent--lst-1iii_v, .mnu_ent_plat-1iii:hover .mnu_ent_plat-1iii_v, .mnu_ent_plat-1iii:hover .mnu_plat--lst-1iii_v, .mnu_ent_plat-1iii:hover .mnu_plat_plat-1iii_v, .mnu_ent_plat-1iii:hover .mnu_dess--lst-1iii_v, .mnu_ent_plat-1iii:hover .mnu_dess_plat-1iii_v, .mnu_plat--lst-1iii:hover .mnu_ent--lst-1iii_v, .mnu_plat--lst-1iii:hover .mnu_ent_plat-1iii_v, .mnu_plat--lst-1iii:hover .mnu_plat--lst-1iii_v, .mnu_plat--lst-1iii:hover .mnu_plat_plat-1iii_v, .mnu_plat--lst-1iii:hover .mnu_dess--lst-1iii_v, .mnu_plat--lst-1iii:hover .mnu_dess_plat-1iii_v, .mnu_plat_plat-1iii:hover .mnu_ent--lst-1iii_v, .mnu_plat_plat-1iii:hover .mnu_ent_plat-1iii_v, .mnu_plat_plat-1iii:hover .mnu_plat--lst-1iii_v, .mnu_plat_plat-1iii:hover .mnu_plat_plat-1iii_v, .mnu_plat_plat-1iii:hover .mnu_dess--lst-1iii_v, .mnu_plat_plat-1iii:hover .mnu_dess_plat-1iii_v, .mnu_dess--lst-1iii:hover .mnu_ent--lst-1iii_v, .mnu_dess--lst-1iii:hover .mnu_ent_plat-1iii_v, .mnu_dess--lst-1iii:hover .mnu_plat--lst-1iii_v, .mnu_dess--lst-1iii:hover .mnu_plat_plat-1iii_v, .mnu_dess--lst-1iii:hover .mnu_dess--lst-1iii_v, .mnu_dess--lst-1iii:hover .mnu_dess_plat-1iii_v, .mnu_dess_plat-1iii:hover .mnu_ent--lst-1iii_v, .mnu_dess_plat-1iii:hover .mnu_ent_plat-1iii_v, .mnu_dess_plat-1iii:hover .mnu_plat--lst-1iii_v, .mnu_dess_plat-1iii:hover .mnu_plat_plat-1iii_v, .mnu_dess_plat-1iii:hover .mnu_dess--lst-1iii_v, .mnu_dess_plat-1iii:hover .mnu_dess_plat-1iii_v {
  transform: rotate(0);
}
.mnu_ent--lst-1:hover .mnu_ent--lst-1iii, .mnu_ent--lst-1:hover .mnu_ent_plat-1iii, .mnu_ent--lst-1:hover .mnu_plat--lst-1iii, .mnu_ent--lst-1:hover .mnu_plat_plat-1iii, .mnu_ent--lst-1:hover .mnu_dess--lst-1iii, .mnu_ent--lst-1:hover .mnu_dess_plat-1iii, .mnu_ent_plat-1:hover .mnu_ent--lst-1iii, .mnu_ent_plat-1:hover .mnu_ent_plat-1iii, .mnu_ent_plat-1:hover .mnu_plat--lst-1iii, .mnu_ent_plat-1:hover .mnu_plat_plat-1iii, .mnu_ent_plat-1:hover .mnu_dess--lst-1iii, .mnu_ent_plat-1:hover .mnu_dess_plat-1iii, .mnu_plat--lst-1:hover .mnu_ent--lst-1iii, .mnu_plat--lst-1:hover .mnu_ent_plat-1iii, .mnu_plat--lst-1:hover .mnu_plat--lst-1iii, .mnu_plat--lst-1:hover .mnu_plat_plat-1iii, .mnu_plat--lst-1:hover .mnu_dess--lst-1iii, .mnu_plat--lst-1:hover .mnu_dess_plat-1iii, .mnu_plat_plat-1:hover .mnu_ent--lst-1iii, .mnu_plat_plat-1:hover .mnu_ent_plat-1iii, .mnu_plat_plat-1:hover .mnu_plat--lst-1iii, .mnu_plat_plat-1:hover .mnu_plat_plat-1iii, .mnu_plat_plat-1:hover .mnu_dess--lst-1iii, .mnu_plat_plat-1:hover .mnu_dess_plat-1iii, .mnu_dess--lst-1:hover .mnu_ent--lst-1iii, .mnu_dess--lst-1:hover .mnu_ent_plat-1iii, .mnu_dess--lst-1:hover .mnu_plat--lst-1iii, .mnu_dess--lst-1:hover .mnu_plat_plat-1iii, .mnu_dess--lst-1:hover .mnu_dess--lst-1iii, .mnu_dess--lst-1:hover .mnu_dess_plat-1iii, .mnu_dess_plat-1:hover .mnu_ent--lst-1iii, .mnu_dess_plat-1:hover .mnu_ent_plat-1iii, .mnu_dess_plat-1:hover .mnu_plat--lst-1iii, .mnu_dess_plat-1:hover .mnu_plat_plat-1iii, .mnu_dess_plat-1:hover .mnu_dess--lst-1iii, .mnu_dess_plat-1:hover .mnu_dess_plat-1iii {
  margin-right: 0rem;
}
@keyframes anim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.foot {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  background-color: #353535;
  color: #fff;
  line-height: 30%;
}
.foot a {
  text-decoration: none;
  color: #fff;
}
.foot_log {
  margin: 30px 30px;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: bolder;
  font-family: "shrikhand", "cursive";
  color: #fff;
}
.foot_log img {
  width: auto;
  height: 20px;
  color: #fff;
}
.foot_lis {
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
}
.foot_lis--pro {
  display: flex;
  width: 250px;
  align-items: center;
  margin-top: 0px;
  line-height: 10%;
}
.foot_lis--pro p {
  margin-left: 20px;
  font-size: 20px;
}
.foot_lis--ment {
  width: 200px;
  line-height: 50%;
  font-size: 20px;
}
@media only screen and (max-width: 800px) {
  .foot_lis {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
