@import url(./sass/base/base);
@import url(./sass/utils/variables);
@import url(./sass/utils/mixins);
@media (max-width: 599px) {
    .hder {
        @include border;
        &__logo {
            width: 100%;
            height: 5rem;
            text-align: center;
            & img{
                margin-top: 20px;
                width: 230px;
            }
        }
    }
}    
@media (max-width: 599px) {
        .nav{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
                &__geo {
                    background-color: $color-secondary ;
                    -webkit-box-shadow: inset -1px 15px 8px -13px rgba(168,141,168,0.34);
                    -moz-box-shadow: inset -1px 15px 8px -13px rgba(168,141,168,0.34);
                    box-shadow: inset -1px 15px 8px -13px rgba(168,141,168,0.34);
                    width: 100%;
                    height: 4.5rem;
                    font-size: 1rem;
                    display: flex;
                    justify-content: center;
                    &--i{
                        margin-right: 15px;
                    }
                }
                &__tit {
                    background-color:$color-primary;
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &--reserv {
                        width: 80%;
                        height: auto;
                        text-align: center;
                        font-size: 30px;
                    }
                    &--decouv {
                        width: 90%;
                        height: auto;
                        text-align: center;
                        margin-top: 0px;
                        font-size: 23px;
                    }
                @include nav__tit--btn;
                }
        }
    }
@import url(./sass/layout/fonc);
@import url(./sass/layout/resto);

@media (max-width: 599px) {
    .foot {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-bottom: 60px;
        background-color: $color-foot;
        color:$color-white ;
        line-height: 30%;
        & a{
            text-decoration: none;
            color: $color-white;        
        }
        &_log{
            & img{
                width: 30%;
                height: 50%;
                color: $color-white; 
                margin-top: 20px;
                margin-left: 20px;
            }
        }
        &_pro,&_dev{
            display: flex;
            padding-left: 20px;
            align-items:center ;
            margin-top: 0px;
            line-height: 10%;
            & p{
              margin-left: 20px;
              font-size: 20px; 
            }
        }
        &_mc{
            line-height: 50%;
            padding-left: 20px;
            font-size: 20px;
        }
        
    }
}

