.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.90);
    animation: loader 0.01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display:flex;
    align-items:center;
    justify-content:center;
  
    &__item {
      height: 1rem;
      width: 1rem;
      border-radius: 1rem;
      animation: jump 1s;
      animation-iteration-count: 1;
  
      &Container {
        display: flex;
        width: 5rem;
        justify-content: space-between;
      }
  
      &--1 {
        background-color: $color-primary;
      }
    
      &--2 {
        background-color: $color-secondary;
        animation-delay: 0.25s;
      }
    
      &--3 {
        background-color: $color-tertiary;
        animation-delay: 0.5s;
      }
    }
}

.fonc{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    &_tit{
        margin-top: 50px;
        margin-left: 20px;
        font-size: 25px;
    }
    &_op{
        padding-top: 20px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 350px;
        &--choix,&--comp,&--degus{
            background-color:$color-primary ;
            width: 85%;
            display: flex;
            text-decoration: none;
            align-items: center;
            height: 25px;
            padding: 30px 0px;
            border-radius: 30px;
            box-shadow: 0px 0px 15px  $color-shadow;
            margin-top: 40px;
            transition: transform 450ms, 300ms 150ms;
            @include hover;
            &-ix,&-ip,&-is{
                display: flex;
                width: 35px;
                height: 35px;
                border-radius: 35px;
                background-color: $color-tertiary;
                justify-content: center;
                align-items: center;
                color:$color-white;
                margin-left: -15px;
            }
            &-iix,&-iip,&-iis{
                display: flex;
                justify-content: center;
                align-items: center;
                display: flex;
                padding-left: 30px;
                padding-right: 15px;
               
            }
            &-titx,&-titp,&-tits{
                display: flex;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 21px;
                }
            }
        }
    }

.imgarp{
    width: 100%;
    height: auto;
    & img{
        position: absolute;
        width: 100%;
        height: 300px;
        z-index: 1;
    }
}
