.mnu{
    position: absolute;
    width: 100%;
    height: auto;
    background-color:$color-primary;
    border-radius: 40px 40px 0px 0px;
    margin-top: 250px;
    z-index: 2;
    &_tit{
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: auto;
        margin: 25px 20px ;
        &--i{
            font-size: 2rem;
            font-style: italic;
            font-weight: bold;
            font-family: "Shrikhand", "cursive";
        }
    }
    &_ent,&_plat,&_dess{
        width: 90%;
        height: auto;
        margin: 25px 20px ;
        &--tit{
            display: inline;
        }
        &--tit::after{
            content: "";
            display: block;
            width: 10%;
            height: 3px;
            margin-top: 5px;
            background:$color-badg; 
        }
        &--lst,&_plat{
            width: 100%;
            height: auto;
            margin-top: 15px;
            &-1{
                @include lstv
                
            }
        }

    }
}
@for $i from 0 to 9 {
    .delay-#{$i} {
      animation-delay:  #{$i/10}s;
    }
  }

