@mixin border($color:$color-accent) {
    border: .1rem solid $color;
}

@mixin btn{
    &--btn {
        @include hover;
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 20px;
        transition: transform 450ms, 300ms 150ms;
            &-action{
            background: linear-gradient(to top , $color-tertiary, $color-invalid 100%);                       
            text-decoration: none;
            height: 20px;
            padding: 18px 60px;
            border-radius: 25px;
            text-shadow: 0px 2px $color-accent;
            box-shadow: 0px 0px 10px  $color-shadow;
            transition: all .1s;
            -webkit-transition: all .1s;
            float: left;
            color: $color-white;
            font-weight: bold;
            font-size: 20px;
        &:active{
            transform: translate(0, 5px);
            -webkit-transform: translate(0, 5px);
            border-bottom: 1px solid;
        }
    }
}
}

@mixin lst{
    box-shadow: 0px 0px 5px  $color-shadow;
    background-color:$color-white ;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    &i{
        line-height: 80%;
        width: auto;
        margin-left: 10px;
    }
    &ii{
        margin-top: 50px;
        margin-right: 15px;
        font-weight: bold;
        font-size: 20px;
    }
}
@mixin lstv{
    box-shadow: 0px 0px 5px  $color-shadow;
    background-color:$color-white ;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    &i:nth-child(1){
        @include border;
        text-decoration: none;
        flex: 3;
        line-height: 100%;
        margin-left: 10px;
        overflow: auto;
    }
    &ii:nth-child(2){
        @include border;
        margin-top: 55px;
        margin-left: 30px;
        font-weight: bold;
        font-size: 20px;
        margin-right: 20px;
    }
    @include hover;
    &iii{
        @include border;
        transform: scaleX(0);
    }

}


@mixin foot {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 60px;
    background-color: $color-foot;
    color:$color-white ;
    line-height: 30%;
    & a{
        text-decoration: none;
        color: $color-white;        
    }
    &_log{
        & img{
            width: 30%;
            height: 50%;
            color: $color-white; 
            margin-top: 20px;
            margin-left: 20px;
            margin-bottom: 10px;
        }
    }
    &_pro,&_dev{
        display: flex;
        padding-left: 20px;
        align-items:center ;
        margin-top: 0px;
        line-height: 10%;
        & p{
          margin-left: 20px;
          font-size: 20px; 
        }
    }
    &_mc{
        line-height: 50%;
        padding-left: 20px;
        font-size: 20px;
    }
}

@mixin hover {
    &:hover {
       & + &iii{
            @include border;
            flex: 1;
            width: 90px;
            border-radius: 0px 20px 20px 0px;
            text-align: center;
            padding-top: 35px;
            background-color:$color-badg ;
            display: block;
        }
    }
}

@mixin valid {
    &:hover {
        transform: scaleX(1);
    }
}

